<!-- header section starts  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header>

    <a href="#" class="logo" ><span>AJI</span>TKRI</a>

    <nav class="navbar">
        <a routerLink="homes">home</a>
        <a routerLink="services">services</a>
        <a routerLink="agent">agents</a>
        <a routerLink="contact">contact</a>
    </nav>

    <div class="icons">
        <div id="menu-bars" class="fas fa-bars"></div>
        <a href="#" class="fas fa-user"></a>
    </div>

</header>
<!-- header section ends -->