*{
    --red:#ff5a3c;
    --light-red:#f9edeb;
}
.services{
    width:50%
}
@media screen and (min-width:760px) {
    .services{
        margin:20px;
        width:auto
    }
}
.services .heading{
    text-align: center;
    
}
.heading{
    text-align: center;
    color:#333;
    padding-bottom: 3rem;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 35px;
}

.services .heading span{
    color:var(--red);
    background:var(--light-red);
    border-radius: .5rem;
    padding:.2rem 1.5rem;
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding:2rem;
}

.services .box-container .box h3{
    font-size: 2rem;
    color:#333;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
    line-height: 2;
}


.image{
    width: 200px;
    height: 100px;
    margin: auto;
    background-image: url('s-1.png');
}